body{
	margin-top: 20px;
	background-image: url("kl.jpg");
	background-size: auto;
	/*background-position: center fixed;*/

}
th{
	color: white;
	background-color: rgb(59,89,152);
	font-size: 2em; 
}

tbody{
	color:white;
}

#table2{
	display: none;
	background: linear-gradient(to top, rgba(51,122,183, 0.7), rgba(51,122,183, 1));
	/*rgba(35,70,113,0.7);*/
	font-size: 1em;
}
#table, #table2{
	border-radius: 20px;
}

#table{
	background: linear-gradient(to top, rgba(51,122,183, 0.7), rgba(51,122,183, 1));
}
b{
	color: navy;

}